
body {
    background-color: black;
}
.leftscreen {
    float: left;
    width: 50%;
    height: 96vh;
}
.rightscreen {
    float: right;
    width: 50%;
    height: 96vh;
}
.bottomscreen {
    background-color: yellow;
    width: 50%;
}
.burger-devoured {
    overflow: auto;
    width:95%;
    height: 600px;
    background-color: green;
    margin: 5px 5px 5px 30px;
}
.burger-ready {
    overflow: auto;
    width:95%;
    height: 315px;
    margin: 5px;
    background-color: red;
}
.burger-orderPlaced {
    overflow: auto;
    width: 95%;
    height: 280px;
    margin: 5px;
    background-color: blue;
}
.orderHere {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin-top: 76vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.burgerOrderButton {
    margin: 5px 0 5px 35px;
    padding: 5px;
}
p {
    font-size: 11px;
}
#burger-name {
    background-color: white;
}
#devoured-button {
    background-color: white;
}
#editBurger-button {
    background-color: white;
}
#deleteBurger-button {
    background-color: white;
}