
body {
    background-color: white;
}
.leftscreen {
    float: left;
    width: 50%;
    height: 96vh;
}
.rightscreen {
    float: right;
    width: 50%;
    height: 96vh;
}
.bottomscreen {
    background-color: yellow;
    width: 50%;
}
.burger-devoured {
    overflow: auto;
    width:95%;
    height: 600px;
    background-color: green;
    margin: 5px 5px 5px 30px;
    padding: 10px 10px 10px 40px;
}
.burger-orderPlaced {
    overflow: auto;
    width: 95%;
    height: 600px;
    margin: 5px;
    background-color: red;
    padding: 10px 10px 10px 40px;
}
.orderHere {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin-top: 76vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.burgerOrderButton {
    margin: 5px 0 5px 0px;
    padding: 5px;
}
p {
    font-size: 11px;
}
#burger-name {
    background-color: white;
}
#devoured-button {
    background-color: white;
}
#editBurger-button {
    background-color: white;
}
#deleteBurger-button {
    background-color: white;
}
#comment-button {
    background-color: white;
}
.field {
    width: 90%;
}
.imageBurger {
    max-height: 300px;
    margin-left: 150px;
}
h3 {
    text-align: center;
}
.rowButtons {
    float: right;
}
.rowEatenBurger {
    float: left;
    margin: 5px;
    width: 90%;
}